# Folders to ignore
/__pycache__/*
/.idea/*
/logs/*
/.vscode/*

# Files to ignore
*.pyc
*.png
*.npy
*.hdf5
*.pkl
*.gz
*.mat
*.zip
tes*
.directory
/utils/credentials_raw_testing_DO_NOT_ADD_TO_REPO.py
easybackup_configs.enc